{% extends 'shop/layouts/main.html' %}

{% block title %}
  Order Success | ShopKart
{% endblock title %}

{% block content %}
<section class="bg-light py-4 my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3" style="color: rgb(24, 219, 24);">Order Success!</h4>
        <h5>Your order has been successfully placed. We will notify you once it is shipped. Thank you for shopping with us!</h5>
        <a href="/" class="btn btn-primary">Go Back to Home</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}